@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Quattrocento+Sans|Ubuntu+Mono:400,700');
@import "gr8conf.css";

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateX(0);
    }
}

.red {
    color: red;
}

.reveal {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 2rem;
}

.reveal .lora {
    font-family: 'Lora', serif;
}

.reveal .text-left {
    text-align: left;
}

.reveal .margin-left-200 {
    margin-left: 200px;
}

.reveal h1,
.reveal h2 {
    font-family: 'Lora', serif;
    text-transform: none;
    font-weight: 700;
    font-size: 2rem;
}

.reveal h2 {
    font-size: 4rem;
    position: relative;
    z-index: 1;
    overflow: hidden;
    text-align: left;
    padding-left: 200px;
}

.reveal .present h2 {
    animation: 650ms ease-out 0s 1 slideInFromRight;
}

.reveal h2:before,
.reveal h2:after {
    position: absolute;
    top: 51%;
    overflow: hidden;
    width: 50%;
    height: 2px;
    content: '\a0';
    background-color: #d3d9de;
    margin-left: 20px;
}

.reveal h2:before {
    margin-left: -52%;
    text-align: right;
}

.reveal mark {
    background: #ffcd00;
}

.reveal section img {
    border: none;
    box-shadow: none;
}

.reveal .author img {
    border-radius: 50%;
    width: 40%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px #bbb;
}

.reveal .author {
    position: absolute;
    top: -30px;
    left: -70px;
    z-index: 99;
}

.reveal pre {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1.5rem;
    line-height: 2.3rem;
    display: block;
    position: relative;
    margin: 20px auto;
    text-align: left;
    word-wrap: break-word;
    width: 100%;
    box-shadow: none;
}

.reveal code {
    font-family: 'Ubuntu Mono', monospace;
}

.reveal pre code {
    display: block;
    padding: 5px;
    overflow: auto;
    max-height: 400px;
    word-wrap: normal;
}

.reveal pre::before {
    background-color: #d8d8da;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #8c95a6;
    content: "•••";
    display: block;
    font-size: 1em;
    line-height: 1.2;
    text-indent: .5em;
    width: 100%;
}

.reveal pre code {
    background-color: #282c34;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-height: 600px;
    padding: 10px 15px;
}

.reveal .present .animation-slide-bottom {
    animation: 650ms ease-out 0s 1 slideInFromBottom;
}
.reveal .present .animation-slide-left {
    animation: 650ms ease-out 0s 1 slideInFromLeft;
}
.reveal .present .animation-slide-right {
    animation: 650ms ease-out 0s 1 slideInFromRight;
}