.reveal .slides:after {
    position: absolute;
    display: block;
    content: ' ';
    background-image: url('../images/gr8conf-2019.svg');
    background-size: 96px 96px;
    height: 96px;
    width: 96px;
    bottom: -15px;
    left: -160px;
}

.reveal .slides .pdf-page:after {
    position: absolute;
    display: block;
    content: ' ';
    background-image: url('../images/gr8conf-2019.svg');
    background-size: 64px 64px;
    height: 64px;
    width: 64px;
    bottom: 16px;
    left: 16px;
}