.reveal .slides:after {
    position: absolute;
    display: block;
    content: ' ';
    background-image: url('../images/gr8conf-2019.svg');
    background-size: 96px 96px;
    height: 96px;
    width: 96px;
    bottom: -15px;
    left: -160px;
}